<?xml version="1.0"?>
<config>
    <modules>
        <Mp_Mailplatformconnectorconnector>
            <version>2.0.1.4</version>
        </Mp_Mailplatformconnectorconnector>
    </modules>
    <global>
        <blocks>
            <mailplatform>
                <class>Mp_Mailplatformconnector_Block</class>
            </mailplatform>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber>Mp_Mailplatformconnector_Block_Adminhtml_Newsletter_Subscriber</newsletter_subscriber>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <mailplatform>
                <class>Mp_Mailplatformconnector_Model</class>
            </mailplatform>
            <newsletter>
                <rewrite>
                    <subscriber>Mp_Mailplatformconnector_Model_Newsletter_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
        <helpers>
            <mailplatform>
                <class>Mp_Mailplatformconnector_Helper</class>
            </mailplatform>
        </helpers>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <mailplatform_checkout_submit_all_after>
                        <type>singleton</type>
                        <class>mailplatform/observer</class>
                        <method>onCheckoutSubmit</method>
                    </mailplatform_checkout_submit_all_after>
                </observers>
            </checkout_submit_all_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <Mp_Mailplatformconnector module="Mp_Mailplatformconnector">
                    <file>mailplatform.xml</file>
                </Mp_Mailplatformconnector>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mailplatform translate="title" module="mailplatform">
                                            <title>mailplatform Section</title>
                                            <sort_order>50</sort_order>
                                        </mailplatform>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mailplatform after="Mage_Adminhtml">Mp_Mailplatformconnector_Adminhtml</mailplatform>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <mailplatform>
            <general>
                <active>0</active>
                <url>http://client2.mailmailmail.net/xml.php</url>
                <username>admin</username>
                <token></token>
            </general>
            <subscribe>
                <firstname>2</firstname>
                <lastname>3</lastname>
                <city>8</city>
                <email_type>html</email_type>
                <double_optin>1</double_optin>
                <update_existing>1</update_existing>
            </subscribe>
            <unsubscribe>
                <delete_member>0</delete_member>
                <send_goodbye>0</send_goodbye>
                <send_notify>0</send_notify>
                <sendthankyou>1</sendthankyou>
            </unsubscribe>
            <log>
                <error>1</error>
                <success>0</success>
                <file_name>mailplatform.log</file_name>
            </log>
            <crontab>
                <sync_subscribers>0</sync_subscribers>
                <sync_categories>0</sync_categories>
            </crontab>
        </mailplatform>
    </default>
    <crontab>
        <jobs>
            <mailplatform_sync>
                <schedule>
                    <cron_expr>0 */12 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mailplatform/cron::sync</model>
                </run>
            </mailplatform_sync>
            <mailplatform_sync_categories>
                <schedule>
                    <cron_expr>0 */12 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mailplatform/cron::updateCategories</model>
                </run>
            </mailplatform_sync_categories>
        </jobs>
    </crontab>
</config>