<?xml version="1.0"?>
<config>
    <modules>
        <Mp_Mailplatform>
            <version>1.0.1</version>
        </Mp_Mailplatform>
    </modules>
    <global>
        <rewrite>
            <pnpweb_mailplatform_account_edit>
                <from><![CDATA[#^/customer/account/edit/(.*)#]]></from>
                <to>mailplatform/account/edit</to>
            </pnpweb_mailplatform_account_edit>
            <pnpweb_mailplatform_account_confirm>
                <from><![CDATA[#^/customer/account/confirm/(.*)#]]></from>
                <to>mailplatform/account/confirm</to>
            </pnpweb_mailplatform_account_confirm>
        </rewrite>
        <blocks>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber>Mp_Mailplatform_Block_Adminhtml_Newsletter_Subscriber</newsletter_subscriber>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <mailplatform>
                <class>Mp_Mailplatform_Model</class>
            </mailplatform>
            <newsletter>
                <rewrite>
                    <subscriber>Mp_Mailplatform_Model_Newsletter_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mailplatform translate="title" module="mailplatform">
                                            <title>mailplatform Section</title>
                                            <sort_order>50</sort_order>
                                        </mailplatform>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <mailplatform>
                <use>admin</use>
                <args>
                    <module>Mp_Mailplatform</module>
                    <frontName>mailplatform</frontName>
                </args>
            </mailplatform>
        </routers>
    </admin>
    <default>
        <mailplatform>
            <general>
                <active>0</active>
                <url>http://mailmailmail.net/xml.php</url>
                <username>admin</username>
                <token></token>
            </general>
            <subscribe>
                <email_type>html</email_type>
                <double_optin>0</double_optin>
                <update_existing>1</update_existing>
            </subscribe>
            <unsubscribe>
                <delete_member>0</delete_member>
                <send_goodbye>0</send_goodbye>
                <send_notify>0</send_notify>
            </unsubscribe>
        </mailplatform>
    </default>
</config>